body{
    margin: 0px;
}

i.icon{
    font-size: 2em;
}

.ui.main.container{
    margin: 7.0em auto;
}

.blogTextWrapper{
    text-align: center;
}

.detailsWrapper{
    text-align: center;
}

.readMoreButton{
    margin: 15px auto;
}

.deleteButton{
    display: inline;
}

.blogPostImgDiv{
    height: 150px;
}

.homeBlogImg{
    max-height:100%;
}
